<app-header titulo="cards"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Por Fox</ion-card-subtitle>
      <ion-card-title>Los Simpsons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem Cards are a standard piece of UI that serves as an entry point to more detailed information. A card can be a single component, but is often made up of some header, title, subtitle, and content. ion-card is broken up into several sub-components to reflect this. Please see 
    </ion-card-content>
  </ion-card>

<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>Por Fox</ion-card-subtitle>
    <ion-card-title>Los Simpsons</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="assets/img/simpsons.jpg"></ion-img>
    Lorem Cards are a standard piece of UI that serves as an entry point to more detailed information. A card can be a single component, but is often made up of some header, title, subtitle, and content. ion-card is broken up into several sub-components to reflect this. Please see 
  </ion-card-content>
  
</ion-card>


</ion-content>
