<ion-header>
  <app-header titulo="Date Time"></app-header>
</ion-header>
<ion-content>
  <ion-list-header>
    <ion-label>Fecha Ingreso</ion-label>   
  </ion-list-header>

  <ion-item>
    <ion-label>Ingrese una fecha</ion-label>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime display-format="DDD DD de MMM del YYYY" 
                    mothShortNames="Enero, Febrero, Marzo, Abril, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                    dayShortNames="Lunes, Martes, Miercoles, Jueves , Viernes, Sabado, Domingo"
                    (ionChange)="cambioFecha($event)"
                    min="2010-01-01"
                    max="2030-12-31"
                    value="2010-01-01"
                    [pickerOptions]="customoptions">
                  </ion-datetime> 
   </ion-item>
  </ion-item>

   <ion-item>
     <ion-label>Ingrese la Hora</ion-label>
   <ion-item>
     <ion-label>Hora</ion-label>
     <ion-datetime display-format="HH:mm"></ion-datetime>
   </ion-item>
  </ion-item>

</ion-content>
